In [38]:
import pandas as pd

# Gas Dataset load and data prep

In [39]:
df = pd.read_csv (r'..\\DataSet\\2004-2021.tsv', sep = '\t')

In [40]:
isGas = df['PRODUTO']=="GASOLINA COMUM"
dfGas = df[isGas]

In [41]:
dfGas = dfGas.drop(['PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'DATA FINAL', 'PRODUTO', 'ESTADO'], axis=1)

In [42]:
dfGas['DATA INICIAL'] = pd.to_datetime(dfGas['DATA INICIAL'], format='%Y-%m-%d')
dfGas['MES'] = pd.DatetimeIndex(dfGas['DATA INICIAL']).month
dfGas['ANO'] = pd.DatetimeIndex(dfGas['DATA INICIAL']).year

In [43]:
print(dfGas.dtypes)
dfGas

DATA INICIAL                    datetime64[ns]
REGIÃO                                  object
NÚMERO DE POSTOS PESQUISADOS             int64
UNIDADE DE MEDIDA                       object
PREÇO MÉDIO REVENDA                    float64
DESVIO PADRÃO REVENDA                  float64
PREÇO MÍNIMO REVENDA                   float64
PREÇO MÁXIMO REVENDA                   float64
MARGEM MÉDIA REVENDA                    object
COEF DE VARIAÇÃO REVENDA               float64
MES                                      int64
ANO                                      int64
dtype: object

,DATA INICIAL,REGIÃO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,MES,ANO
12064,2004-05-09,CENTRO OESTE,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,5,2004
12065,2004-05-09,CENTRO OESTE,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,5,2004
12066,2004-05-09,CENTRO OESTE,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,5,2004
12067,2004-05-09,CENTRO OESTE,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,5,2004
12068,2004-05-09,NORDESTE,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,NORTE,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,4,2021
120722,2021-04-25,SUL,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,4,2021
120723,2021-04-25,SUDESTE,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,4,2021
120724,2021-04-25,NORDESTE,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,4,2021
120725,2021-04-25,NORTE,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,4,2021

In [44]:
dfGasGroup = dfGas.groupby(by=['MES', 'ANO', 'REGIÃO']).mean()
dfGasGroup

                       NÚMERO DE POSTOS PESQUISADOS  PREÇO MÉDIO REVENDA  \
MES ANO  REGIÃO
1   2005 CENTRO OESTE                    221.850000             2.454050
         NORDESTE                        225.355556             2.348511
         NORTE                            94.085714             2.479171
         SUDESTE                        1695.400000             2.253950
         SUL                             695.800000             2.356467
...                                             ...                  ...
12  2020 CENTRO OESTE                     50.687500             4.621187
         NORDESTE                         57.305556             4.605083
         NORTE                            24.321429             4.484536
         SUDESTE                         266.062500             4.540250
         SUL                             122.500000             4.408667

                       DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
MES ANO  REGIÃO
1   2005 CENTRO OESTE               0.064650              2.301950
         NORDESTE                   0.072289              2.180844
         NORTE                      0.094543              2.328571
         SUDESTE                    0.088050              2.025850
         SUL                        0.084200              2.169400
...                                      ...                   ...
12  2020 CENTRO OESTE               0.086438              4.395875
         NORDESTE                   0.104500              4.418194
         NORTE                      0.063929              4.411143
         SUDESTE                    0.154312              4.126625
         SUL                        0.156333              4.153083

                       PREÇO MÁXIMO REVENDA  COEF DE VARIAÇÃO REVENDA
MES ANO  REGIÃO
1   2005 CENTRO OESTE              2.628950                  0.026400
         NORDESTE                  2.528644                  0.031044
         NORTE                     2.787286                  0.038057
         SUDESTE                   2.601950                  0.039300
         SUL                       2.668200                  0.036133
...                                     ...                       ...
12  2020 CENTRO OESTE              4.808375                  0.018687
         NORDESTE                  4.820444                  0.022861
         NORTE                     4.620679                  0.014679
         SUDESTE                   4.983500                  0.034250
         SUL                       4.912750                  0.035250

[1015 rows x 6 columns]

# Petroleum Dataset load and data prep

In [52]:
dfPetro = pd.read_csv (r'..\\DataSet\\Petróleo Brent Futuros Dados Históricos.csv')

In [53]:
dfPetro

            Data Último Abertura Máxima Mínima     Vol.    Var%
0     31.12.2021  77,78    78,81  79,68  77,55  148,96K  -1,94%
1     30.12.2021  79,32    79,19  79,66  78,50   10,90K   0,11%
2     29.12.2021  79,23    79,28  80,17  78,13   69,63K   0,37%
3     28.12.2021  78,94    78,67  79,85  78,48   50,41K   0,43%
4     27.12.2021  78,60    76,32  79,08  75,75   85,39K   3,23%
...          ...    ...      ...    ...    ...      ...     ...
2836  07.01.2011  93,33    94,38  94,58  92,59  165,97K  -1,26%
2837  06.01.2011  94,52    95,70  96,12  94,01  217,45K  -1,03%
2838  05.01.2011  95,50    93,35  95,86  92,37  212,40K   2,11%
2839  04.01.2011  93,53    94,92  95,74  92,58  184,63K  -1,38%
2840  03.01.2011  94,84    94,75  96,17  94,50   82,67K   0,09%

[2841 rows x 7 columns]

In [65]:
dfPetro['Data'] = pd.to_datetime(dfPetro['Data'], format='%d.%m.%Y')
dfPetro['MES'] = pd.DatetimeIndex(dfPetro['Data']).month
dfPetro['ANO'] = pd.DatetimeIndex(dfPetro['Data']).year


df['Último'] = df['Último'].astype(float)
print(dfPetro.dtypes)
dfPetro

KeyError: 'Último'

In [64]:
df.astype({'Abertura':'float'})

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'Abertura' not found in columns."

In [48]:
dfPeroGroup = dfPetro.groupby(by=['MES', 'ANO']).mean()

C:\Users\chris\AppData\Local\Temp\ipykernel_7616\3970346330.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  dfPeroGroup = dfPetro.groupby(by=['MES', 'ANO']).mean()